.THIS .flex {
  font: 14px Arial;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.THIS .flexdiv {
  flex: 1 1 auto;
  width: 33.3%;
  box-sizing:border-box;
  border:1px black;
  text-align:center;
  line-height:20px;
  padding:5px;
}