.THIS.slds-modal__container{
               max-width: 100rem !important;
               width:100% !important;
               background-color: #F3F2F2;
               
        }
.THIS {
background-color: #F3F2F2;
}
.THIS.changeMe {
    background-color:yellow;
    width:200px;
}
/*
.THIS .svg.slds-button__icon.slds-button__icon_large.slds-button_icon-inverse.slds-hidden{
	visibility: hidden!important;
    
    
} */