.THIS .slds-modal__close .slds-button_icon .slds-button_icon-bare .slds-button_icon-inverse {
    display: none !important;
}
.THIS .slds-pill__remove {
    display: none !important;
}
.THIS.slds-modal__container{
    max-width: 100rem !important;  
    width:100% !important;
    height:100% ;  
    background-color: #F3F2F2;
}
.THIS .slds-button_icon-inverse  {
    visibility: hidden;
}
.THIS .slds-button--icon-inverse {
    visibility: hidden;
}
.THIS .slds-button_icon-border-inverse{
    visibility: hidden;
}
.THIS .slds-button--icon-border-inverse {
    visibility: hidden;
}
.THIS .wrap{
    word-wrap: break-word;
}