.THIS .slds-form-element{
    max-height: 50px;
}
.THIS label.slds-form-element__label.slds-no-flex{
    display: none;
}

.THIS .slds-input[readonly]{
    padding-left: 11px;
    font-weight: bolder;
    text-align: center;
    color: #000000;
}
.THIS .slds-table td{
    text-align: right;
    font-size: smaller;
    background-color:yellow;
    
    color:blue;
}
.THIS .slds-table th{
    text-align: center;
    font-size: smaller;
    color: red;
    
}
.THIS .slds-table tr{
    text-align: center;
    font-weight: bolder;
}

.THIS .slds-input{
    
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    color: #000000;
}
.THIS .rupee{
    text-align: center;
    font-size: small;
    font-weight: bolder;
    color: #000000;
}
.THIS .newClass {
    
    font-size: 18px;
    text-align: left;
    /*width: 100px;
    float: left;
    padding: 75px;
    text-align: center;*/
}

.THIS .chg{
     background-color:darkgrey;
     color: blue;
}
.THIS .th{
    text-align: center;
    font-size: smaller;
    margin: auto;
}
.THIS .clsLegend {    
    padding-right: 30px;
    float: right;
    border: none;
    display: block;
    color: #b3b3b3;
 }
.THIS.slds-spinner_container {  
  z-index: 10000;
  position: fixed;   
}