.THIS {
    
}
.THIS .applicant{
        padding-left: 21%;
}

.THIS .slds-form-element{
    max-height: 50px;
}
.THIS label.slds-form-element__label.slds-no-flex{
        display: none;
}

.THIS .slds-table td{
     text-align: center;
    font-weight: bolder;
}
.THIS .slds-table th{
     text-align: center;
     font-weight: bolder;
     color: #000000;
}
.THIS .slds-table tr{
     text-align: center;
    font-weight: bolder;
    
}
.THIS .alignRight{
     float:right;
    
}
.THIS .chg{
     background-color:darkgrey;
     color: black;   
}
.THIS .chgr{
     background-color:lightgrey;
     color: black;   
}
.THIS .th{
     text-align: center;
     font-weight: bolder;
     color: #000000;
     margin: auto;
}
.THIS .slds-input{
     text-align: center;
     font-weight: bolder;
}
/*toggleCss.css*/
.THIS .toggle {
    display: none;
}
.THIS .clsLegend {    
    padding-right: 30px;
    float: right;
    border: none;
    display: block;
    color: #b3b3b3;
 }
.THIS.slds-spinner_container {  
  z-index: 10000;
  position: fixed;   
}