.THIS {
}
.THIS .right-align {
    text-align: right;
}
.THIS input[type=checkbox]:checked.black-checkbox{
    border-color: rgb(27, 82, 151); /*Choose your color*/
    box-shadow: 0 0 3px #006A00; /*Choose a darker color for the shadow*/
    background-color: rgb(27, 82, 151);
}

.THIS .slds-datepicker .slds-day{
    display: contents;
    position: absolute;
    z-index: 7000;
    left: -0.71875px;
}