.THIS {
}
.THIS .PaddingAdd
{
    padding: 22px 0px 0px 0px;
    margin: 0px 0px 0px 8px;
}
.THIS .slds-modal__container{
        max-width: 100rem !important;
        width:100% !important;
        height:100%; 
}