.THIS .field{
    padding: 5px;
    width : 200px;  
    border-radius: 2px;
}

.THIS.slds-modal__container{
    max-width: 100rem !important;
    width:100% !important;
    
}

.THIS.LoadSpinner{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}

.THIS .slds-form-element{
    max-height: 40px;
}
.THIS label.slds-form-element__label.slds-no-flex{
        display: none;
}

.THIS .slds-table td{
     text-align: center;
    font-weight: bolder;
}
.THIS .slds-table th{
     text-align: center;
     font-weight: bolder;
     color: #000000;
}
.THIS .slds-table tr{
     text-align: center;
    font-weight: bolder;
    
}
.THIS .alignRight{
     float:right;
}
.THIS .chg{
     background-color:darkgrey;
     color: blue;
    
}
.THIS .th{
     text-align: center;
     font-weight: bolder;
     color: #000000;
     margin: auto;
}
.THIS .slds-input{
     text-align: center;
    
}
/*toggleCss.css*/
.THIS .toggle {
    display: none;
}
.THIS .clsLegend {    
    padding-right: 30px;
    float: right;
    border: none;
    display: block;
    color: #b3b3b3;
}
.THIS.slds-spinner_container {  
  z-index: 10000;
  position: fixed;   
}