<apex:page standardController="Loan_Application__c" extensions="LoanDisbursalController" renderAs="pdf">    
    <div width="100%">
        <div width="100%">
            <div align="center" border="1">
                <span width="100%" style="align:center;valign:middle;border:1px;">
                    <span style="font-size:25px;">
                        Lawyer over the counter (OTC) sheet
                    </span>
                </span>    
            </div>   
            <br/>         
            <table width="100%" style="border-spacing: 0px;" border="1">
                <tr width="100%">
                    <th width="15%" style="font-size:12px;background-color: #E5E7E9;" >Name of Applicant</th>
                    <td width="35%" style="font-size:12px;background-color: #E5E7E9;" >{!loanApp.Customer__r.Name}</td>   
                     <th width="15%" style="font-size:12px;background-color: #E5E7E9;">Sales Deed</th>
                    <td width="35%" style="font-size:12px;background-color: #E5E7E9;">{!loanApp.Sale_Deed_Agreement_Value__c}</td>                 
                </tr>                
            <!--    <tr width="100%">
                    <th width="30%" style="font-size:12px;background-color: #E5E7E9;" colspan="2">Name of Co-Applicant</th>
                    <td width="70%" style="font-size:12px;background-color: #E5E7E9;" colspan="2">{!loanSection.coApplicantName}</td>                    
                </tr>  
                -->              
                <tr width="100%">
                    <th width="15%" style="font-size:12px;background-color: #E5E7E9;">Application No.</th>
                    <td width="35%" style="font-size:12px;background-color: #E5E7E9;">{!loanApp.Loan_Number__c}</td>
                    <th width="15%" style="font-size:12px;background-color: #E5E7E9;">Channel</th>
                    <td width="35%" style="font-size:12px;background-color: #E5E7E9;">{!source.Channel_Partner_Name__c}</td>
                </tr>                
                <tr width="100%">
                    <th width="15%" style="font-size:12px;background-color: #E5E7E9;">Loan Amount</th>
                    <td width="35%" style="font-size:12px;background-color: #E5E7E9;">{!loanApp.Approved_Loan_Amount__c}</td>
                    <th width="15%" style="font-size:12px;background-color: #E5E7E9;">Name of SM</th>
                    <td width="35%" style="font-size:12px;background-color: #E5E7E9;">{!loanApp.Assigned_Sales_User__r.name}</td>
                </tr>                
                <tr width="100%">
                    <th width="15%" style="font-size:12px;background-color: #E5E7E9;">Transaction Type</th>
                    <td width="35%" style="font-size:12px;background-color: #E5E7E9;">{!loanApp.Transaction_type__c}</td>
                    <th width="15%" style="font-size:12px;background-color: #E5E7E9;">Name of BCM</th>
                    <td width="35%" style="font-size:12px;background-color: #E5E7E9;">{!loanApp.Credit_Manager_User__r.name}</td>
                </tr>   

                  <tr width="100%">
                    <th width="15%" style="font-size:12px;background-color: #E5E7E9;">Name Of BT Bank</th>
                    <td width="35%" style="font-size:12px;background-color: #E5E7E9;">{!loanApp.Name_of_BT_Bank__c}</td>
                    <th width="15%" style="font-size:12px;background-color: #E5E7E9;"></th>
                    <td width="35%" style="font-size:12px;background-color: #E5E7E9;"></td>
                </tr>    
                <tr width="100%">
                    <th width="15%" style="font-size:12px;background-color: #E5E7E9;">Branch</th>
                    <td width="35%" style="font-size:12px;background-color: #E5E7E9;">{!loanApp.Name_of_BT_Bank__c}</td>
                    <th width="15%" style="font-size:12px;background-color: #E5E7E9;"></th>
                    <td width="35%" style="font-size:12px;background-color: #E5E7E9;"></td>
                </tr>    
            </table>            
        </div>
        <br/>
        <div width="100%">
           <apex:outputText style="font-size:20px;margin-top:25px;" value="Disbursement Details" escape="false"/><br/>         
                 
            <div width="100%">
                <table width="100%" style="border-spacing: 0px;" border="1">
                    <tr width="100%">
                        <th width="30%" style="font-size:12px;background-color: #E5E7E9;" >Cheque Favoring</th>
                        <th width="30%" style="font-size:12px;background-color: #E5E7E9;" >Cheque Number</th>
                        <th width="30%" style="font-size:12px;background-color: #E5E7E9;" >Cheque Amount</th>                                            
                    </tr>
                    <apex:repeat value="{!DisbursementList}" var="c">
                        <tr width="100%">                            
                            <td width="70%" style="font-size:12px;background-color: #E5E7E9;" >{!c.Loan_Application__r.Customer__r.Name}</td>
                            <td width="70%" style="font-size:12px;background-color: #E5E7E9;" >{!c.Cheque_Number__c}</td>
                            <td width="70%" style="font-size:12px;background-color: #E5E7E9;" >{!c.Cheque_Amount__c}</td>
                        </tr>
                    </apex:repeat>                    
                </table>
            </div>
        </div>
        <br/>
        <div width="100%">
            <apex:outputText style="font-size:20px;margin-top:25px;" value="Contact Details" escape="false"/><br/>         
          

<table  width="100%"  style="border-spacing: 0px;" border="1">
       <tr style = "height : 23px; font-size:12px">
            <td  width="20%" style="border:1px solid #888; padding-left:5px;background-color: #dddddd;"> <b>Customer Name</b></td>
            <td  width="20%" style="border:1px solid #888; padding-left:5px;background-color: #dddddd;"> <b>Address</b></td>
            <td  width="20%" style="border:1px solid #888; padding-left:5px;background-color: #dddddd;"> <b>Phone</b></td>
           
        </tr>
        <apex:repeat value="{!Address}" var="add">
        <tr style = "height : 23px; font-size:12px">            
            <td  width="20%" style="border:1px solid #888; padding-left:5px;"> <apex:outputText value="{!add.Loan_Contact__r.customer_name__c}" /> </td>
            <td  width="20%" style="border:1px solid #888; padding-left:5px;"> <apex:outputText value="{!add.Address_Line_1__c}  {!add.Address_Line_2__c} {!add.Pincode_LP__r.name}" /> </td>
            <td  width="20%" style="border:1px solid #888; padding-left:5px;"> <apex:outputText value="{!add.Loan_Contact__r.Phone_Number__c}" /> </td>
           
        </tr>
        </apex:repeat>
    </table><br/>

        </div>
        <br/>
        <div width="100%">
           <apex:outputText style="font-size:20px;margin-top:25px;" value="Property Details" escape="false"/><br/>         
         

            <table  width="100%"  style="border-spacing: 0px;" border="1">
       <tr style = "height : 23px; font-size:12px">
            <td  width="20%" style="border:1px solid #888; padding-left:5px;background-color: #dddddd;"> <b>Property Type</b></td>
            <td  width="20%" style="border:1px solid #888; padding-left:5px;background-color: #dddddd;"> <b>Property Address</b></td>
            <td  width="20%" style="border:1px solid #888; padding-left:5px;background-color: #dddddd;"> <b>Area of property</b></td>
             <td  width="20%" style="border:1px solid #888; padding-left:5px;background-color: #dddddd;"> <b>Name of Seller</b></td>
           
        </tr>
        <apex:repeat value="{!propList}" var="add">
        <tr style = "height : 23px; font-size:12px">            
            <td  width="20%" style="border:1px solid #888; padding-left:5px;"> <apex:outputText value="{!add.Property_Type__c}" /> </td>
            <td  width="20%" style="border:1px solid #888; padding-left:5px;"> <apex:outputText value="{!add.Address_Line_1__c}  {!add.City_LP__c} " /> </td>
            <td  width="20%" style="border:1px solid #888; padding-left:5px;"> <apex:outputText value="{!add.Pincode_LP__r.name}" /> </td>
             <td  width="20%" style="border:1px solid #888; padding-left:5px;"> <apex:outputText value="{!add.Name_of_the_sellers_1__c}" /> </td>
           
        </tr>
        </apex:repeat>
    </table><br/>         
         <!--   <table width="100%" style="border-spacing: 0px;" border="1">
                <tr width="100%">
                    <th width="30%" style="font-size:12px;background-color: #E5E7E9;" colspan="2">Property Type</th>
                    <td width="70%" style="font-size:12px;background-color: #E5E7E9;" colspan="2">Fields Deleted</td>                    
                </tr>                
                <tr width="100%">
                    <th width="30%" style="font-size:12px;background-color: #E5E7E9;" colspan="2">Property Address</th>
                    <td width="70%" style="font-size:12px;background-color: #E5E7E9;" colspan="2">Fields Deleted</td>                     
                </tr>                
                <tr width="100%">
                    <th width="15%" style="font-size:12px;background-color: #E5E7E9;">Area of property</th>                 
                    <td width="35%" style="font-size:12px;background-color: #E5E7E9;">Fields Deleted</td>
                    <th width="15%" style="font-size:12px;background-color: #E5E7E9;">Sale Deed/ Agreement Value</th>
                    <td width="35%" style="font-size:12px;background-color: #E5E7E9;">{!loanSection.saleVal}</td>                                        
                </tr>                
                <tr width="100%">
                    <th width="30%" style="font-size:12px;background-color: #E5E7E9;" colspan="2">Name of seller/ vendor</th>
                    <td width="70%" style="font-size:12px;background-color: #E5E7E9;" colspan="2">{!loanSection.sellerName}</td>                    
                </tr>                
                <tr width="100%">
                    <th width="30%" style="font-size:12px;background-color: #E5E7E9;" colspan="2">Name of BT Bank/FI in case of BT</th>
                    <td width="70%" style="font-size:12px;background-color: #E5E7E9;" colspan="2">{!loanSection.nameOfBT}</td>                    
                </tr>                                
            </table>
        -->
        </div>
        <br/>
        <div width="100%">
            <apex:outputText style="font-size:20px;margin-top:25px;" value="Document Details" escape="false"/><br/>         
            
            <div width="100%">
                <table width="100%" style="border-spacing: 0px;" border="1">
                    <tr width="100%">
                        <th width="15%" style="font-size:12px;background-color: #E5E7E9;" >S.No.</th>
                        <th width="20%" style="font-size:12px;background-color: #E5E7E9;" >Document Date</th>
                        <th width="25%" style="font-size:12px;background-color: #E5E7E9;" >Name of Document</th>
                         <th width="20%" style="font-size:12px;background-color: #E5E7E9;" >Status</th>
                          <th width="20%" style="font-size:12px;background-color: #E5E7E9;" >Doc Collection (Org/Copy)</th>
                                                                     
                    </tr>
                    <apex:repeat value="{!doc}" var="d">
                        <tr width="100%">                            
                            <td width="15%" style="font-size:12px;background-color: #E5E7E9;" >{!count + 1}</td>
                            <td width="20%" style="font-size:12px;background-color: #E5E7E9;" >{!d.REquest_Date_for_OTC__c}</td>
                            <td width="25%" style="font-size:12px;background-color: #E5E7E9;" >{!d.Document__c}</td>
                            <td width="20%" style="font-size:12px;background-color: #E5E7E9;" ></td>
                            <td width="20%" style="font-size:12px;background-color: #E5E7E9;" >{!d.Document_Collection_Mode__c}</td>
                          
                        </tr>
                    </apex:repeat>                    
                </table>                
                <br/>
                <table width="100%" style="border-spacing: 0px;" border="1">
                    <tr width="100%">
                        <th width="30%" style="font-size:12px;background-color: #E5E7E9;" colspan="2">Collection Responsibility (Name/Agency)</th>
                        <td width="70%" style="font-size:12px;background-color: #E5E7E9;" colspan="2">{!loanSection.lawyerName}</td>                    
                    </tr>
                </table>

                 <br/>
                <table width="100%" style="border-spacing: 0px;" border="1">
                    <tr width="100%">
                        <th width="30%" style="font-size:12px;background-color: #E5E7E9;" colspan="2">Special instructions/Remarks </th>
                        <td width="70%" style="font-size:12px;background-color: #E5E7E9;" colspan="2"></td>                    
                    </tr>
                </table>
            </div>            
        </div>
    </div>    
</apex:page>