.THIS {
}
.THIS .tier-one {
  background-color: green;
}
.THIS .inputFieldWidth {
    width:85%;
}
.THIS .slds-file-selector__text{
    display:none;
}
.THIS .slds-file-selector__button{
    font-size:0 !important;
}
.THIS .slds-file-selector_files
{
        margin-top: -25px !important;
    position: absolute !important;
}
.THIS input[type=checkbox]:checked.black-checkbox{
    border-color: rgb(27, 82, 151); /*Choose your color*/
    box-shadow: 0 0 3px #006A00; /*Choose a darker color for the shadow*/
    background-color: rgb(27, 82, 151);
}