.THIS {
    
}

.THIS .applicant{
        padding-left: 10%;
}
.THIS .slds-form-element{
        max-height: 61px;
}
.THIS .slds-required{
        display: none;
    
}
.THIS label.slds-form-element__label{
            display: none;

}
.THIS label.slds-form-element__label.slds-no-flex{
        display: none;
}

.THIS .slds-table td{
     text-align: center;
    font-weight: bolder;
}
.THIS .slds-table th{
     text-align: center;
     font-weight: bolder;
     color: #000000;
}
.THIS .slds-table tr{
     text-align: center;
    font-weight: bolder;
    
}
.THIS .alignRight{
     float:right;
    
}
.THIS .chg{
     background-color:darkgrey;
     color: blue;
    
}
.THIS .th{
     text-align: center;
     font-weight: bolder;
     color: #000000;
     margin: auto;
}
.THIS .slds-input{
     text-align: center;
     font-weight: bolder;
     min-width:20px;
}
/*toggleCss.css*/
.THIS .toggle {
    display: none;
}
.THIS .clsLegend {    
    padding-right: 30px;
    float: right;
    border: none;
    display: block;
    color: #b3b3b3;
 }
.THIS.slds-spinner_container {  
  z-index: 10000;
  position: fixed;   
}
.THIS .slds-datepicker .slds-day {

display : contents;
position: absolute;
z-index: 7000;
left: -0.71875px;    
}
.THIS .formula{
     background-color:lightgrey;
     color: black;  
}