.THIS {
}
.THIS .inputFieldWidth {
    width:85%;
}
.THIS .slds-file-selector__text{
    display:none;
}
.THIS .slds-file-selector__button{
    font-size:0 !important;
}
.THIS .slds-file-selector_files
{
        margin-top: -25px !important;
    position: absolute !important;
}